{% extends "base.html" %} {% block title %}Auctions - Tradee{% endblock %} {%
block content %}
<!-- Auctions Section -->
<section class="auctions-section">
  <div class="auctions-container">
    <h1>Active Auctions</h1>

    <div class="search-bar-auctions unfinished">
      <input
        id="search-auctions"
        type="text"
        placeholder="Search auctions..."
      />
      <button>Search</button>
    </div>

    <div class="auctions-grid" id="auctions-grid">
      {% for i in range(3) %}
      <div class="auction-card">
        <div class="placeholder-image"></div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<script src="{{ url_for('static', filename='add_auctions.js') }}">
</script>
<script>
  auctions_per_page = 8;
  auctions_offset = 0;
  const category = "{{category}}";
  let isLoading = false;

  addEventListener("DOMContentLoaded", async () => {
    auctions_offset = await add_auctions("published_at", auctions_offset, auctions_per_page, category, "auctions-grid");
  });
  first_placeholder = document.querySelector(".auction-card");
  addEventListener("scroll", async () => {
    const scrollTop = window.scrollY;
    const windowHeight = window.innerHeight;
    const docHeight = document.body.offsetHeight;

    if (first_placeholder) {
      const firstPlaceholderRect = first_placeholder.getBoundingClientRect();
      if (firstPlaceholderRect.top < windowHeight) {
        auctions_offset = await add_auctions("published_at", auctions_offset, auctions_per_page, category, "auctions-grid");
      }
    }
  });
</script>
{% endblock %}
