<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    We might sell your email, password and other personal belongings to third
    parties, but we won't tell you who they are. We might take your cat and sell
    it to Lithuanian pirates. We might also use your data to send you spam
    emails, but we won't tell you how to unsubscribe. We haven't even
    implemented the unsubscribe. We might also use your data to create targeted
    ads, but we won't tell you how to opt out. Not even we know how. We might
    also use your data to create fake profiles on social media, but we won't
    tell you how to report them. We might also use your data to create deepfake
    videos, but we won't tell you how to identify them. We might also use your
    data to create AI-generated content, but we won't tell you how to
    distinguish it from human-generated content and it will no longer belong to
    you, including the original data. We might also use your data to create
    personalized recommendations, but we won't tell you how to disable them. We
    might also use your data to create personalized pricing, but we won't tell
    you how to negotiate it. We might also use your data to create personalized
    search results, but we won't tell you how to filter them. We might also use
    your data to create personalized news feeds, but we won't tell you how to
    customize them. We might also use your data to create personalized
    notifications, but we won't tell you how to turn them off. We might also use
    your data to create personalized experiences, but we won't tell you how to
    opt out of them.
  </body>
</html>
